body {
  background-color: #e8ecef;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

#titulo{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    color: #575454;
  }

  main.formulario {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  }

#afili{
  text-align: center;
  font-size: 17px;
  color: rgb(110, 110, 110);
}

#formu input{
  padding-left: 10px;
  color: #3b3b3b;
  font-size: 13px;
  position: relative;
  background-color: white;
  display: flex;
  border-radius: 3px;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
  border-style: solid;
  align-items: center;
  margin: auto;
  width: 95%;
  height: 35px;
}

.fa-user{
  float: right;
  position: relative;
  margin-right: 8px;
  margin-top: -26px;
  display: block;
  z-index: 1;
}

.fa-envelope{
  float: right;
  position: relative;
  margin-right: 8px;
  margin-top: -26px;
  display: block;
  z-index: 1;
}

.fa-phone{
  float: right;
  position: relative;
  margin-right: 8px;
  margin-top: -26px;
  display: block;
  z-index: 1;
}

#gustos {
  display: flex;
  align-items: center;
  width: 100%;
}

#gustos input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  height: 19px;
}

#gustos button {
  padding: 12px;
  background-color: #ffffff;
  color: #27A844;
  border-color: #27A844;
  border-width: 1px;
  border-style: solid;
  border-radius: 0 4px 4px 0;

}

#Tabla {
  max-width: 250px;
  text-align: center;
  margin: auto;
}

#gustos-tabla {
  background: white;
  width: auto;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.flag {
  color: white;
  border-style: solid;
  display: flex;
}

#flag {
  height: 100%;
}

.flag button {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
  border-radius: 4px;
  border-style: solid;
  width: 50px;
}

.flag button:hover {
  cursor: pointer;
  background-color: #458d48;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1.8px solid #ccc;
  padding: 10px;
}

#can{
  margin-left: 15px;
  height: 35px;
  width: 70px;
  border-radius: 8px;
  color: rgb(218, 12, 12);
  background-color: white;
  border: rgb(218, 12, 12);
  border-style: solid;
  border-width: 1.5px;
}

#ace{
  height: 35px;
  width: 70px;
  border-radius: 8px;
  color: rgb(29, 172, 53);
  background-color: white;
  border: rgb(29, 172, 53);
  border-width: 1.5px;
  border-style: solid;
}

  

